doctype html	
html
	head 
		title Hello!
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no") 
		link(rel='stylesheet', href='./css/build.css', type='text/css' )
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		script(src='./js/lib.js')
		script(src='./js/build.js')
	body
		div.header
			.container 
				.menu
					<i class="fa fa-bars" aria-hidden="true"></i>
				.logo
					img.logo-img(src='./images/logo.png')
					p.logo-title tinyone
				.soc-contacts
					<i class="fa fa-facebook" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-google-plus" aria-hidden="true"></i>
					<i class="fa fa-pinterest" aria-hidden="true"></i>
			.main-form
				.container
					p.main-form__title Inspire your inspiration
					p.main-form__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Praesent vitae eros eget tellus tristique bibendum. Donec <br> rutrum sed sem quis venenatis.
					input.main-form__btn(type="submit" value="get start") 
					a(href="#features")
						<i class="fa fa-long-arrow-down" aria-hidden="true"></i>
		.features#features
			.container
				p.section-title Tinyone features
				p.section-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
				.section-line-wrapper
					.section-line
						<i class="fa fa-tablet" aria-hidden="true"></i>
						.section-block
							p.block-title Fully Responsive
							p.block-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
						<i class="fa fa-lemon-o" aria-hidden="true"></i>
						.section-block
							p.block-title Fully Layered PSD
							p.block-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
						<i class="fa fa-folder-o" aria-hidden="true"></i>
						.section-block
							p.block-title Font Awesome Icons
							p.block-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.

					.section-line
						<i class="	fa fa-code" aria-hidden="true"></i>
						.section-block
							p.block-title HTML3 & CSS3
							p.block-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
						.section-block
							p.block-title Email Template
							p.block-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
						<i class="fa fa-bookmark-o" aria-hidden="true"></i>
						.section-block
							p.block-title Free to download
							p.block-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
		.price
			.container
				p.section-title Pricing And Free Trial
				p.section-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
				.price-line-wrapper
					.price-block
						.circle
							<i class="fa fa-tablet" aria-hidden="true"></i>
						p.price-name Basic
						p.price-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit
						p.price-text free
						p.price-text-comment free forever
						input.price-btn(type="submit" value="get free now") 
					.price-block
						.circle
							<i class="fa fa-laptop" aria-hidden="true"></i>
						p.price-name Standard
						p.price-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit
						p.price-text $99
						p.price-text-comment month
						input.price-btn(type="submit" value="upgrade") 
					.price-block
						.circle
							<i class="fa fa-television" aria-hidden="true"></i>
						p.price-name Enterprise
						p.price-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit
						p.price-text $199
						p.price-text-comment month
						input.price-btn(type="submit" value="learn more") 
		.works
			.container
				p.section-title Our works
				p.section-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
				.work-block-wrapper
					.work-block
						.img-block
							.block-black
								<i class="fa fa-eye" aria-hidden="true"><span>279</span></i>
								<i class="fa fa-clock-o" aria-hidden="true"><span>29/01/18</span></i>
								<i class="fa fa-plus-circle" aria-hidden="true"></i>
						p.block-title Fully Responsive
						p.block-text Design / Branding

					.work-block
						.img-block
							img.work-img(src='./images/work_2.png')
							<i class="fa fa-eye" aria-hidden="true"><span>279</span></i>
							<i class="fa fa-clock-o" aria-hidden="true"><span>29/01/18</span></i>
						p.block-title Font Awesome Icons
						p.block-text Design / Branding

					.work-block
						.img-block
							img.work-img(src='./images/work_3.png')
							<i class="fa fa-eye" aria-hidden="true"><span>279</span></i>
							<i class="fa fa-clock-o" aria-hidden="true"><span>29/01/18</span></i>
						p.block-title HTML3 & CSS3
						p.block-text App design / development

					.work-block
						.img-block
							img.work-img(src='./images/work_4.png')
							<i class="fa fa-eye" aria-hidden="true"><span>279</span></i>
							<i class="fa fa-clock-o" aria-hidden="true"><span>29/01/18</span></i>
						p.block-title Various Layouts
						p.block-text Branding

				.work-block-wrapper
					.work-block
						.img-block
							img.work-img(src='./images/work_5.png')
							<i class="fa fa-eye" aria-hidden="true"><span>279</span></i>
							<i class="fa fa-clock-o" aria-hidden="true"><span>29/01/18</span></i>
						p.block-title Fully Responsive
						p.block-text Design / Branding

					.work-block
						.img-block
							img.work-img(src='./images/work_6.png')
							<i class="fa fa-eye" aria-hidden="true"><span>279</span></i>
							<i class="fa fa-clock-o" aria-hidden="true"><span>29/01/18</span></i>
						p.block-title Font Awesome Icons
						p.block-text Design / Branding

					.work-block
						.img-block
							img.work-img(src='./images/work_7.png')
							<i class="fa fa-eye" aria-hidden="true"><span>279</span></i>
							<i class="fa fa-clock-o" aria-hidden="true"><span>29/01/18</span></i>
						p.block-title HTML3 & CSS3
						p.block-text App design / development

					.work-block
						.img-block
							img.work-img(src='./images/work_8.png')
							<i class="fa fa-eye" aria-hidden="true"><span>279</span></i>
							<i class="fa fa-clock-o" aria-hidden="true"><span>29/01/18</span></i>
						p.block-title Various Layouts
						p.block-text Branding
					
				
		.team
			.container
				p.section-title Our Team
				p.section-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
				.team-wrapper
					.team-block
						img.team-img(src='./images/team_1.png')
						p.block-title John Doe
						p.block-text UI Designer
						p.team-description Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.team-icons
							<i class="fa fa-facebook" aria-hidden="true"></i>
							<i class="fa fa-twitter" aria-hidden="true"></i>
							<i class="fa fa-linkedin" aria-hidden="true"></i>
					.team-block
						img.team-img(src='./images/team_2.png')
						p.block-title John Doe
						p.block-text UI Designer
						p.team-description Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.team-icons
							<i class="fa fa-facebook" aria-hidden="true"></i>
							<i class="fa fa-twitter" aria-hidden="true"></i>
							<i class="fa fa-linkedin" aria-hidden="true"></i>

					.team-block
						img.team-img(src='./images/team_3.png')
						p.block-title John Doe
						p.block-text UI Designer
						p.team-description Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.team-icons
							<i class="fa fa-facebook" aria-hidden="true"></i>
							<i class="fa fa-twitter" aria-hidden="true"></i>
							<i class="fa fa-linkedin" aria-hidden="true"></i>

					.team-block
						img.team-img(src='./images/team_4.png')
						p.block-title John Doe
						p.block-text UI Designer
						p.team-description Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.team-icons
							<i class="fa fa-facebook" aria-hidden="true"></i>
							<i class="fa fa-twitter" aria-hidden="true"></i>
							<i class="fa fa-linkedin" aria-hidden="true"></i>
		.stat
			.container
				p.section-title Stats & Testimonial
				p.section-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
				.stat-wrapper
					.stat-block
						<i class="fa fa-puzzle-piece" aria-hidden="true"></i>
						p.stat-title 20
						p.stat-text Products
					.stat-block
						<i class="fa fa-cloud-download" aria-hidden="true"></i>
						p.stat-title 120,000
						p.stat-text Downloads
					.stat-block
						<i class="fa fa-users" aria-hidden="true"></i>
						p.stat-title 1200
						p.stat-text Customers
					.stat-block
						<i class="fa fa-thumbs-up" aria-hidden="true"></i>
						p.stat-title 900
						p.stat-text Likes
				.stat-comment
					img.team-img(src='./images/team_1.png')
					p.stat-title John doe
					p.stat-text From Wỏdpress
					.stat-review
						<i class="fa fa-quote-left" aria-hidden="true"></i>
						p.section-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
						<i class="fa fa-quote-right" aria-hidden="true"></i>
		.touch
			.container
				p.section-title Keep in touch with us
				p.section-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
				.touch-wrapper
					.touch-block
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						p.stat-title Address
						p.stat-text 66, Dang Van ngu, Dong Da, Ha noi, Vietnam
					.touch-block
						<i class="fa fa-envelope" aria-hidden="true"></i>
						p.stat-title E-mail
						p.stat-text contact@halovietnam.com
					.touch-block
						<i class="fa fa-phone" aria-hidden="true"></i>
						p.stat-title Phone
						p.stat-text +844 1234 56789
				form.touch-form
					input.touch-input(type="text" placeholder= "Email")
					input.touch-input(type="text" placeholder= "Full name")
					textarea.touch-textarea(rows="10",placeholder="Message" )
					input.touch-confirm(type="submit" value="send message")
		.footer
			.container
					p.section-title Sign up for our newsletter
					p.section-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
					form.sign
						input.sign-input(type="text" placeholder= "Enter your email to update")
						input.sign-confirm(type="submit" value="submit")
					.footer-contacts-wrapper
						.footer-contacts
							p HALOVIETNAM LTD 
							p 66, Dang Van ngu, Dong Da 
							p Hanoi, Vietnam
							p contact@halovietnam.com
							p +844 35149182
						.footer-contacts
							ul
								li Examples
								li Shop
								li License
						.footer-contacts
							ul
								li Contact
								li About
								li Privacy
								li Terms
						.footer-contacts
							ul
								li Download
								li Support
								li Documents
						.footer-contacts
							ul
								li Media
								li Blog
								li Forums
 	 							
