@font-face 
	font-family "SourceSansPro-Bold"
	src url("../fonts/SourceSansPro-Bold/SourceSansPro-Bold.eot")
	src url("../fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff") format("woff")
	src url("../fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff2") format("woff2")
	src url("../fonts/SourceSansPro-Bold/SourceSansPro-Bold.ttf") format("truetype")


@font-face	
{    
	font-family "SourceSansPro-Regular"
	src url("../fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot")
	src url("../fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff") format("woff")
	src url("../fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff2") format("woff2")
	src url("../fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf") format("truetype")
}

