.header
	background-color #fcdb00
	
	.container
		padding-top 60px
		display flex
		justify-content space-between		
		.menu,.logo, .soc-contacts
			cursor pointer

		.logo
			.logo-img,.logo-title
				display inline-block
				
			.logo-title
				font-family "SourceSansPro-Bold"
				font-size 30px
				line-height 20px
				vertical-align top
				margin-top 10px
				margin-left 10px