.features
	.container
		padding-top 115px
	.section-line-wrapper
		
		.section-line
			position relative
			display flex
			justify-content space-around
			
			i.fa
				font-size 50px
				margin-right 25px
					
			.section-block
				position relative
				margin-right 50px
				margin-bottom 85px
				
				&:last-child
					margin-right 0px
				
				p
					display block
					
				.block-title
					margin-bottom 20px
					
				