.price
	.container
		padding-top 153px
		padding-bottom 50px
		.price-line-wrapper
			position relative
			display flex
			justify-content space-around
			padding-left 100px
			padding-right 100px
		
			.price-block
				position relative
				margin-right 95px
				overflow hidden
				//выравнивание по центру элементов
				width 100%
				text-align center
				
				&:last-child
					margin-right 0px
				
				&:nth-child(2)
					.circle
						background-color black
						
				.circle
					background #ebebeb
					width 100px
					height 100px
					border-radius 50%
					margin 0 auto 30px
					
					i.fa
						font-size 48px
						margin-top 20px
					.fa.fa-laptop
						color white
					
				p.price-name
					font-family "SourceSansPro-Bold"
					font-size 24px
					color #010101
					margin-bottom 25px
					
				p.price-subtitle
					font-family "SourceSansPro-Regular"
					font-size 14px
					color #898989
					line-height 24px
					margin-bottom 50px
					padding 0 10px
				
				p.price-text
					text-transform uppercase
					font-family "SourceSansPro-Bold"
					font-size 32px
					color #010101
					line-height 24px
					
					&:after
						content ''
						background-color #010101
						width 50px
						height 2px
						position relative
						display block
						margin 10px auto
						
				p.price-text-comment
					font-family "SourceSansPro-Regular"
					font-size 16px
					color #898989
					text-align center
					margin-bottom 40px
				
				.price-btn
					border 2px black solid
					font-family "SourceSansPro-Bold"
					font-size 16px
					background none
					text-transform uppercase
					padding 15px
					cursor pointer