.works
	.container
		padding-top 150px
		padding-bottom 60px
		.work-block-wrapper
			display flex
			justify-content space-between
			margin-bottom 60px
			
			.work-block
				width 100%
				text-align center
				
				p.block-title
					margin-top 20px
					margin-bottom 15px
				
				.img-block
					position relative
					overflow hidden
					
					i.fa.fa-eye
						position absolute
						bottom 11px
						left 22px
						color #fff
						font-size 22px
						
						span
							font-size 14px
							font-family "SourceSansPro-Regular"
							margin-left 6px
							position absolute
							bottom 5px
							left 29px
							
					i.fa.fa-clock-o
						position absolute
						bottom 11px
						right 22px
						color #fff
						font-size 22px
						
						span
							font-size 14px
							font-family "SourceSansPro-Regular"
							margin-left 6px
							position absolute
							bottom 5px
							right 29px
					
					.block-black
						background-color #222222
						width 220px
						height 220px
						margin-right 0
						margin-left 11px
						i.fa.fa-eye
							bottom 5px
						
						i.fa-clock-o
							bottom 5px
								
						i.fa.fa-plus-circle
							color #fff
							font-size 54px
							margin-top 75px
							cursor pointer