.container
	padding-top 200px
	padding-bottom 87px
	.team-wrapper
		position relative
		overflow hidden
		display flex
		justify-content space-between
		.team-block
			position relative
			width 100%
			text-align center
			
			p.block-title 
				font-family "SourceSansPro-Regular"
				margin-top 35px
				margin-bottom 15px
				
			p.block-text
				margin-bottom 20px
			p.team-description
				font-family "SourceSansPro-Regular"
				font-size 14px
				line-height 18px
				color #313841
				margin-bottom 20px
				padding 0 20px
			.team-icons
				
				i.fa
					font-size 16px
					line-height 18px
					margin-right 16px
					cursor pointer
				