.container
	padding-top 100px
	padding-bottom 100px
	.stat-wrapper
		position relative
		display flex
		justify-content center
		.stat-block
			position relative
			margin-right 90px
			margin-bottom 90px
			&:last-child
				margin-right 0
			p
				text-align center
				
			//накостылила немного	
			p.stat-title
				font-family "SourceSansPro-Bold"
				margin-bottom 6px
			
			i.fa
				font-size 48px
				line-height 24px
				
				&:first-child
					margin-left 12px

	.stat-comment
		width 100%
		text-align center		
		
		img.team-img
			width 11%
		
		.stat-review
			padding-top 35px
			position relative
			
			p.section-subtitle
				display inline-block
				margin 0 50px 0 50px 
				width 53%
			i.fa 
				display inline-block
				color #898989
				font-size 20px
			i.fa.fa-quote-left
				vertical-align top
				