.footer
	background black
	padding-top 100px
	padding-bottom 200px
	.container
		p.section-title
			color white
		
		.sign
			position relative
			display flex
			justify-content center
			margin-bottom 110px
			.sign-input
				font-family "SourceSansPro-Regular"
				color #898989
				background-color white
				font-size 16px
				width 80%
				padding 18px
				max-width 595px
				margin-right 8px
			.sign-confirm
				font-family "SourceSansPro-Bold"
				color black
				text-transform uppercase
				background-color white
				font-size 16px
				padding 20px 40px
				cursor pointer
		
		.footer-contacts-wrapper
			position relative
			overflow hidden
			display flex
			justify-content space-between
			max-width 875px
			.footer-contacts
				p, li
					color white
					font-family "SourceSansPro-Regular"
					font-size 16px
				li
					cursor pointer