//http://html5.by/blog/flexbox/
@media screen and (max-width 1024px)
	.container
		width 90%
	.price .container
		padding-top 0

		
@media screen and (max-width 1022px)
	.header	
		.container		
			justify-content space-around
	.works .container .work-block-wrapper
		//позволило мне растащить блоки вот таким ходом
		justify-content space-around
		flex-wrap wrap
		margin-bottom 10px
		.work-block
			width max-content
			margin-bottom 10px
			p.block-title
				margin-bottom 0
				margin-top 8px
@media screen and (max-width 920px)

	.price .container .price-line-wrapper
		padding-left 0
		padding-right 0
@media screen and (max-width 920px)

	.price .container .price-line-wrapper
		padding-left 0
		padding-right 0
				
@media screen and (max-width 882px)

	.main-form .container
		padding-top 150px
	
	.features .container
		padding-top 60px
@media screen and (max-width 842px)

	.container 
		.touch-wrapper
			flex-direction column
			flex-wrap wrap
			align-items center
			margin-bottom 20px
			.touch-block
				width 100%
				margin-bottom 20px
				margin-right 20px
				&:last-child
					margin-right 20px
				p.stat-title
					margin-top 0
				p.stat-text
					font-size 16px
					padding 0 10px
	.container .touch-wrapper .touch-block i.fa-phone
		width max-content
@media screen and (max-width 700px)
	.main-form .container
		padding-top 20px
	
	.stat
		.container
			padding-top 30px
			padding-bottom 0

	.container .stat-comment
		img.team-img
			width auto
		p.stat-text
				font-size 16px
			
		.stat-review
			padding-top 10px
			
			p.section-subtitle
				margin 0
				font-size 18px
		
	.container .stat-wrapper
		//позволило мне растащить блоки вот таким ходом
		justify-content space-around
		flex-wrap wrap
		.stat-block
			margin-bottom 25px
			margin-right 10px
			
			p.stat-title
				margin-top 5px
	.team
		.container 
			padding-top 50px
			padding-bottom 30px
			.team-wrapper
				//позволило мне растащить блоки вот таким ходом
				justify-content space-around
				flex-wrap wrap
		
				.team-block
					margin-bottom 20px
					
					p.block-title, p.block-text, p.team-description
						margin 5px
					p.block-title
						font-size 27px
					p.block-text
						font-size 19px
					p.team-description 
						font-size 17px
					.team-icons i.fa
						font-size 22px
		
	.features .container
		padding-bottom 50px
	.section-subtitle
		font-size 20px
	
	.section-title
		font-size 32px
		
	.features .section-line-wrapper .section-line i.fa
		font-size 35px
		
	.features .section-line-wrapper .section-line .section-block .block-title
		font-size 18px
		margin-bottom 5px
		
	.features .section-line-wrapper .section-line .section-block p
		font-size 13px
		
	.price .container .price-line-wrapper
		display initial
		
		.price-block
			margin-bottom 50px
			&:last-child
				margin-bottom 0
			p.price-name
				font-size 32px
				margin-bottom 0
			p.price-subtitle
				font-size 20px
				margin-bottom 10px
			p.price-text-comment
				margin-bottom 10px
			p.price-text
				font-size 20px
				

@media screen and (max-width 670px)
	.works .container
		padding-top 50px
		padding-bottom 0
	.section-subtitle
		margin-bottom 40px
		
	.main-form .container .main-form__title
		font-size 42px
		
	.main-form .container .main-form__text
		font-size 18px
		
	.main-form .container .main-form__btn
		font-size 16px
		margin-bottom 120px
	.features .section-line-wrapper .section-line
		display initial
		i.fa	
			width 100%
			font-size 50px
			text-align center
		.section-block 
			margin-right 0
			margin-bottom 40px
			.block-title
				width 100%
				text-align center
				font-size 25px
			.block-text
				font-size 20px
				text-align center
				width 100%
@media screen and (max-width 600px)
	.touch 
		.container
			max-width 80%
			margin auto
			.touch-form
				margin 0
				
				.touch-textarea
					max-width 80%
					 
				.touch-input
					width auto
					display block
				
				.touch-confirm
					margin auto
						
@media screen and (max-width 570px)
	.footer 
		padding 0
		.container
			padding-bottom 10px
			.sign
				justify-content center
				align-items center
				flex-direction column
				margin-bottom 50px
				.sign-input
					max-width 70%
					margin-bottom 20px
					font-size 14px
				.sign-confirm
					max-width 50% 
					padding 20px
			.footer-contacts-wrapper
				justify-content space-around
				flex-direction column
				.footer-contacts
					margin-bottom 20px

@media screen and (max-width 506px)
	.container
		width 85%
	.section-subtitle
		margin-left 0
		margin-right 0
	.main-form .container .main-form__title
		font-size 36px
		
	.main-form .container .main-form__text
		font-size 16px
		margin-bottom 30px
		
	.main-form .container .main-form__btn
		font-size 14px
		margin-bottom 50px
		
@media screen and (max-width 430px)
	.container
		width 80%
		
	.soc-contacts
		display none
		
	.main-form .container .main-form__title
		font-size 32px
		
	.main-form .container .main-form__text
		margin-right 2%
		margin-bottom 34px
		
	.main-form .container .main-form__btn
		font-size 14px
		margin-bottom 50px